[user]
	name = alex
	email = kid1412621@gmail.com

[core]
  pager = delta
	autocrlf = input

[interactive]
  diffFilter = delta --color-only

[color]
  ui = auto

[delta]
  navigate = true

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default

[push]
  autoSetupRemote = true

[credential]
	credentialStore = cache
	helper = /usr/local/bin/git-credential-manager
[delta]
    side-by-side = true
    line-numbers = true
[credential "https://github.com"]
	helper = 
	helper = !/usr/local/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/local/bin/gh auth git-credential
[credential "https://dev.azure.com"]
	useHttpPath = true
