[submodule ".vim/pack/plugins/start/nerdtree"]
	path = .vim/pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/pack/plugins/start/easymotion"]
	path = .vim/pack/plugins/start/easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule ".vim/pack/plugins/start/surround"]
	path = .vim/pack/plugins/start/surround
	url = https://tpope.io/vim/surround.git
