" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

" Source your .vimrc
source ~/.vimrc

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Plugins
set NERDTree
set ideajoin
set surround
set commentary
set easymotion
set highlightedyank

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
""" Global Nav
map <leader>e :NERDTreeToggle<CR>
map <leader>bd <Action>(CloseContent)
map ]b <Action>(NextTab)
map [b <Action>(PreviousTab)
"" In-buffer Nav
map gd <Action>(GotoDeclaration)
map gI <Action>(GotoImplementation)
map gr <Action>(FindUsages)
map gt <Action>(GotoTypeDeclaration
"" Debug
map <leader>d <Action>(Debug)
map <leader>db <Action>(ToggleLineBreakpoint)
map <leader>dc <Action>(Resume)
map <leader>do <Action>(StepOver)
map <leader>di <Action>(StepInto)
map <leader>dO <Action>(StepOut)
"" Alias
map \b <Action>(ToggleLineBreakpoint)
map \r <Action>(ReformatCode)
